<template>
  <section
    class="rounded-md p-4 bg-gray-200 border border-2 border-gray-300 shadow-md"
  >
    <h3 class="font-bold mb-6 text-center">{{ bin.name }}</h3>
    <section class="flex justify-evenly text-center mb-6">
      <p>
        <b>Wait time (miliseconds)</b>
        <br />
        {{ bin.waitTimeMs ?? 'N/A' }}
      </p>
      <p>
        <b>Show cards again?</b>
        <br />
        {{ bin.neverShow ? 'Never' : 'Yes, after wait time' }}
      </p>
    </section>
    <h4 class="mb-3">Cards:</h4>
    <ul>
      <li
        v-for="card in bin.cards"
        :key="card.id"
        class="p-5 rounded-md border border-gray-700 bg-gray-300 mb-4"
      >
        <label for="card-word">Word:</label>
        <input
          id="card-word"
          class="
            text-center
            rounded-md
            p-2
            text-lg
            w-full
            border border-gray-700
            mb-4
          "
          :value="card.word"
          @input="updateCard(card.id, bin.id, { word: $event.target.value })"
        />
        <label for="card-word">Definition:</label>
        <input
          class="
            text-center
            rounded-md
            p-2
            text-lg
            w-full
            border border-gray-700
            mb-4
          "
          :value="card.definition"
          @input="
            updateCard(card.id, bin.id, { definition: $event.target.value })
          "
        />
        <p v-if="!bin.neverShow" class="mb-3">
          <b>{{ msUntilShown(card, bin.waitTimeMs) }}ms</b> to next appearance
          <button
            class="
              text-md
              px-2
              py-1
              shadow-md
              rounded-md
              border border-gray-500
              bg-gray-300
              hover:border-gray-500 hover:bg-gray-400
              ml-4
            "
            @click="updateCard(card.id, bin.id, { lastReviewed: new Date() })"
          >
            Reset
          </button>
          <button
            class="
              text-md
              px-2
              py-1
              shadow-md
              rounded-md
              border border-gray-500
              bg-gray-300
              hover:border-gray-500 hover:bg-gray-400
              ml-4
            "
            @click="
              updateCard(card.id, bin.id, {
                lastReviewed: new Date(Date.now() - bin.waitTimeMs),
              })
            "
          >
            Show now
          </button>
        </p>
        <p class="mb-3">
          <input
            class="
              text-center
              rounded-md
              p-2
              text-lg
              w-24
              border border-gray-700
              mr-4
            "
            type="number"
            min="0"
            step="1"
            :value="card.incorrectCount"
            @input="
              updateCard(card.id, bin.id, {
                incorrectCount: $event.target.value,
              })
            "
          />
          incorrect answers
        </p>
        <div>
          Move to bin:
          <select @change="moveCard(card.id, bin.id, $event.target.value)">
            <option value="" disabled selected>Select bin...</option>
            <option
              v-for="otherBin in allOtherBins"
              :key="otherBin.id"
              :value="otherBin.id"
            >
              {{ otherBin.name }}
            </option>
          </select>
        </div>
      </li>
      <li v-if="!isAddCard" @click="isAddCard = true">
        <button
          class="
            text-md
            px-2
            py-1
            shadow-md
            rounded-md
            border border-gray-500
            bg-green-400
            hover:border-gray-500 hover:bg-green-600
          "
        >
          + Add card
        </button>
      </li>
      <li v-if="isAddCard">
        <form @submit.prevent="addCard()" class="flex flex-col">
          <label for="card-word">Word</label>
          <input
            id="card-word"
            type="text"
            v-model="newCard.word"
            class="rounded-md mb-4 p-2"
          />
          <label for="card-definition">Definition</label>
          <input
            id="card-definition"
            type="text"
            v-model="newCard.definition"
            class="rounded-md mb-4 p-2"
          />
          <input
            type="submit"
            value="Add Card"
            class="
              text-md
              px-2
              py-1
              shadow-md
              rounded-md
              border border-gray-500
              bg-green-400
              hover:border-gray-500 hover:bg-green-600
              mb-2
            "
          />
          <button
            class="
              text-md
              px-2
              py-1
              shadow-md
              rounded-md
              border border-gray-500
              bg-red-400
              hover:border-gray-500 hover:bg-red-600
            "
            @click="resetAddForm()"
          >
            Cancel
          </button>
        </form>
      </li>
    </ul>
  </section>
</template>

<script lang="ts">
import { defineComponent, PropType, ref, toRefs } from 'vue';
import { useStore } from '@/store';
import Bin from '@/types/Bin';
import Card from '@/types/Card';
import { msUntilShown } from '@/utils/cardUtils';

export default defineComponent({
  name: 'BinManager',
  props: {
    bin: {
      type: Object as PropType<Bin>,
      required: true,
    },
  },
  setup(props) {
    const { bin } = toRefs(props);
    const store = useStore();

    const newCard = ref<Omit<Card, 'id'>>({
      word: '',
      definition: '',
      incorrectCount: 0,
    });
    const isAddCard = ref<boolean>(false);

    const resetAddForm = () => {
      isAddCard.value = false;
      newCard.value = {
        word: '',
        definition: '',
        incorrectCount: 0,
      };
    };

    resetAddForm();

    const addCard = () => {
      newCard.value.lastReviewed = new Date();
      store.commit('addCard', { card: newCard.value, binId: bin.value.id });
      resetAddForm();
    };

    const moveCard = (cardId: string, fromBinId: string, toBinId: string) => {
      if (!toBinId) {
        return;
      }

      store.commit('moveCard', { cardId, fromBinId, toBinId });
    };

    const allOtherBins = Object.values(store.state.bins).filter(
      (b) => b.id !== bin.value.id,
    );

    const updateCard = (
      cardId: string,
      binId: string,
      newCard: Partial<Card>,
    ) => store.commit('updateCard', { cardId, binId, newCard });

    return {
      addCard,
      allOtherBins,
      isAddCard,
      moveCard,
      msUntilShown,
      newCard,
      resetAddForm,
      updateCard,
    };
  },
});
</script>
