<template>
  <section
    v-if="!isShowDefinition"
    class="
      p-8
      bg-gray-200
      border border-gray-400
      rounded-md
      text-center
      shadow-lg
    "
  >
    <p class="text-4xl font-bold mb-10">{{ card.word }}</p>
    <button
      @click="isShowDefinition = true"
      class="
        text-lg
        px-2
        py-1
        shadow-md
        rounded-md
        border border-gray-600
        bg-blue-600
        hover:border-gray-600 hover:bg-blue-700
        text-white
      "
    >
      Show definition
    </button>
  </section>
  <section
    v-if="isShowDefinition"
    class="
      p-8
      bg-gray-200
      border border-gray-400
      rounded-md
      text-center
      shadow-lg
    "
  >
    <p class="text-4xl font-bold mb-10">{{ card.definition }}</p>
    <button
      @click="registerRightAnswer()"
      class="
        text-lg
        px-2
        py-1
        shadow-md
        rounded-md
        border border-gray-600
        bg-green-600
        hover:border-gray-600 hover:bg-green-700
        text-white
        mr-5
      "
    >
      I got it
    </button>
    <button
      @click="registerWrongAnswer()"
      class="
        text-lg
        px-2
        py-1
        shadow-md
        rounded-md
        border border-gray-600
        bg-red-600
        hover:border-gray-600 hover:bg-red-700
        text-white
      "
    >
      I did not get it
    </button>
  </section>
</template>

<script lang="ts">
import { defineComponent, PropType, ref, toRefs } from 'vue';
import { useStore } from '@/store';
import Card from '@/types/Card';

export default defineComponent({
  name: 'BinManager',
  props: {
    card: {
      type: Object as PropType<Card>,
      required: true,
    },
    binId: {
      type: String,
      required: true,
    },
  },
  setup(props) {
    const { card, binId } = toRefs(props);
    const store = useStore();

    const isShowDefinition = ref<boolean>(false);

    const registerRightAnswer = () => {
      store.dispatch('registerRightAnswer', {
        cardId: card.value.id,
        binId: binId.value,
      });

      isShowDefinition.value = false;
    };

    const registerWrongAnswer = () => {
      store.dispatch('registerWrongAnswer', {
        cardId: card.value.id,
        binId: binId.value,
      });

      isShowDefinition.value = false;
    };

    return {
      isShowDefinition,
      registerRightAnswer,
      registerWrongAnswer,
    };
  },
});
</script>
