<template>
  <div class="font-sans bg-gray-50 h-full w-full min-h-screen flex flex-col">
    <header class="px-10 py-5 text-center">
      <router-link
        class="
          font-bold
          px-3
          py-1.5
          mr-10
          shadow-md
          rounded-md
          border border-gray-400
          bg-gray-300
          hover:border-gray-500 hover:bg-gray-400
        "
        active-class="border-2 border-gray-800"
        to="/"
        >Review</router-link
      >

      <router-link
        class="
          font-bold
          px-3
          py-1.5
          mr-10
          shadow-md
          rounded-md
          border border-gray-400
          bg-gray-300
          hover:border-gray-500 hover:bg-gray-400
        "
        active-class="border-2 border-gray-800"
        to="/admin"
        >Admin</router-link
      >
    </header>
    <main class="flex-1 flex flex-col">
      <router-view />
    </main>
  </div>
</template>
