<template>
  <section class="p-10 flex-1 flex flex-col h-full">
    <h1 class="text-3xl font-bold text-center mb-10">Manage Cards</h1>

    <ul>
      <li v-for="bin in bins" :key="bin.id" class="mb-5 mr-5">
        <bin-manager :bin="bin" />
      </li>
    </ul>
  </section>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import BinManager from '@/components/BinManager.vue'; // @ is an alias to /src
import { useStore } from '@/store';

export default defineComponent({
  name: 'Home',
  components: {
    BinManager,
  },
  setup() {
    const store = useStore();

    const bins = store.state.bins;

    return { bins };
  },
});
</script>
