<template>
  <section class="p-10 flex-1 flex flex-col h-full">
    <h1 class="text-3xl font-bold text-center mb-10">It's Review Time</h1>
    <card-review
      v-if="reviewList.length"
      :card="reviewList[0].card"
      :bin-id="reviewList[0].binId"
    />
    <p v-if="isPermanentlyDone" class="text-center text-2xl">
      You have no more words to review; you are permanently done!
    </p>
    <p
      v-if="!reviewList.length && !isPermanentlyDone"
      class="text-center text-2xl"
    >
      You are temporarily done; please come back later to review more words.
    </p>
  </section>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from 'vue';
import CardReview from '@/components/CardReview.vue';
import { useStore } from '@/store';
import Card from '@/types/Card';

export default defineComponent({
  name: 'Review',
  components: {
    CardReview,
  },
  setup() {
    const store = useStore();
    const reviewList = ref<Card[]>([]);

    watch(
      () => store.getters.getReviewList,
      () => {
        reviewList.value = store.getters.getReviewList;
      },
      { immediate: true },
    );
    const isPermanentlyDone = store.getters.getIsPermanentlyDone;

    return {
      reviewList,
      isPermanentlyDone,
    };
  },
});
</script>
